iframe{
	margin-left:220px;
	margin-top: 30px;
}

.avisos{
	padding-left:5px;
}

.avisos p{
	color:#000000;
	font-size: 20px;
	font-style: italic;
	padding-left: 5px;
	margin-left: 37px;
}

.avisos h1{
	padding-left: 30px;
}

.lista_avisos{
	margin-right: 20px;
}

.lista_avisos a{
	margin-left: 30px;
	text-decoration: none;
}


.lista_avisos a li{
	background-color: #BFBFBF;
	list-style: none;
	margin-left: 20px;
	border-radius:10px;
	padding: 7px;
}


.lista_avisos a li:hover{
	background-color:#FFFFFF;
	border:1px solid #BFBFBF;
}

.lista_avisos img{
	width: 30px;
	position: absolute;
}



#tablaBoton tr td{
    width: 200px;

}


.DescripcionRecurso{	
	width: 680px;
    height: auto;
	border: 1px solid #640923;
	border-radius:10px;
	background-color: #E6E6E6;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

}

.DescripcionRecurso form{	

    height: auto;


}

.DescripcionRecurso h3{
	margin-left: 10px;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;	
}

.DescripcionRecurso b{
	margin-left: 15px;
	height: 30px;
	position: absolute;
	margin-top: 10px;
}

.DescripcionRecurso form input{
	font-size: 19px;
	border-radius:9px;
	background-color: #FFFFFF;
	color:#707070;
	font-style: italic;
	height: 30px;
	text-align: center;
	margin-left: 210px;
	margin-right: auto;
	width: 350px;
}

.DescripcionRecurso form select{
	font-size: 19px;
	border-radius:9px;
	background-color: #FFFFFF;
	color:#707070;
	font-style: italic;
	height: 30px;
	text-align: center;
	margin-left: 220px;
	width: 350px;
}

.DescripcionRecurso form{
    margin-left: 0px;
}






.DescripcionRecurso form textarea{
	font-size: 19px;
	border-radius:5px;
	background-color: #FFFFFF;
	color:#707070;
	font-style: normal;
	height: 300px;
    width: 400px;
	display:block;
	margin-left: 210px;
	margin-right: auto;
	max-width: 400px;
	max-height: 300px;
}





#botonSubirRecurso input{
	background-color: #640923;
	color: #FFFFFF;
	text-align: center;
	font-style: normal;
	width: 400px;	
    margin-left: 5px;
    margin-top: 5px;
	height: 40px;
}

#botonSubirRecurso input:hover{
	background-color: #FFFFFF;
	color: #640923;

}

#botonCompartir input{
	background-color: #640923;
	color: #FFFFFF;
	text-align: center;
	font-style: normal;
	width: 200px;
	float: right;
	height: 40px;
	margin-top:5px; 

}

#botonCompartir input:hover{
	background-color: #FFFFFF;;
	color: #640923;
	
}

@media screen and (max-width: 510px){
	.avisos p{
		display: none;
	}


	.lista_avisos{
		width:100%;
		margin-left: -60px;
	}

	.lista_avisos a{
		margin: 0px;
	}


	.lista_avisos a li{
		padding-bottom: 14px;
		margin-top: 7px;
		margin-bottom: 7px;
	}


	.lista_avisos img{
		width: 25px;
	}


	#cuerpo_principal h1{
		font-size: 20px;
	}
}


